/*////PAGEINATION////*/
ul.pagination {display: table;}
ul.pagination li {
	display:table-cell;
	border:solid thin #ddd;
	padding:0;
	cursor: pointer;
	min-width:40px;
	text-align: center;
}
ul.pagination li.active {background:#ddd;}
ul.pagination li a {
	display: block;
	width:100%;
	height:100%;
	text-decoration: none;
	color:inherit;
	padding:5px 10px;

	text-align: center;
}
ul.pagination li a:hover {background:#eee;}

/*////TABS////*/
ul.tabs {
  	text-align: center;
  	padding: 0;
  	table-layout: fixed;
  	margin:50px auto 0 auto;
  	max-width: 960px;
  	display:table;
  	width:100%;
}
ul.tabs li {
	display:table-cell;
	padding:10px;
	cursor: pointer;
	text-align: center;
}
ul.tabs li:hover {background:rgba(0,0,0,.05);}
ul.tabs li.active {background:#fff;}
ul.tabs a {width:100%; height:100%;display: block; text-decoration: none; color:#333;}

/*////OVERLAY POPUP////*/
.overlay {
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background: rgba(37, 40, 43, 0.6);
  	display: none;
  	overflow:scroll;
	z-index: 1000;
}
a.overlay-wrap {width:100%; height:100%; display:block;position:fixed;}
.overlay:target {display: block;}
.overlay .wrap {
  	position: absolute;
  	background:#fff;
  	z-index:1001;
  	max-width:700px;
  	height:auto;
  	top: 30px;
  	left: 0;
  	right: 0;
  	margin-bottom:30px;
}
.overlay-close {
  	position: absolute;
  	top: 20px;
  	right: 30px;
  	transition: all 200ms;
  	font-size: 30px;
  	font-weight: bold;
  	text-decoration: none;
  	color: #333;
}
.overlay-close:hover {color: #06D85F;}
@media screen and (max-width: 735px){.overlay .wrap {width: 90%;}}

/*////EMBED AUTOSIZE////*/
.embed {
    width: 100%;
	padding-top: 56.25%;
	position: relative;
}
.embed.aspect-16x9 {padding-top:56.25%;}.embed.aspect-9x16 {padding-top:177.77%;}.embed.aspect-4x3 {padding-top:75%;}.embed.aspect-3x4 {padding-top:133.33%;}
.embed.aspect-3x2 {padding-top:66.66%;}.embed.aspect-2x3 {padding-top:150%;}.embed.aspect-5x8 {padding-top:62.5%;}.embed.aspect-8x5 {padding-top:160%;}
.embed > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*////UL FORM////*/
ul.form {
  	list-style-type:none;
  	margin:0;
  	padding:0;
}
ul.form > li {border-bottom:solid 1px #ccc;position: relative;}
ul.form > li:first-child {border-top:solid 1px #ccc;}
ul.form td {border-right:solid 1px #ccc;position: relative;}
ul.form td:last-child {border-right:none;}
ul.form input[type=text],
ul.form input[type=password],
ul.form input[type=tel],
ul.form input[type=number],
ul.form input[type=email],
ul.form input[type=date],
ul.form input[type=datetime],
ul.form input[type=url] {border:none; padding:30px 10px 5px 10px; font-size:21px;z-index: -1;position: relative;}
ul.form input.error {background: #ffe3e3 !important;color: #c14545;}
ul.form textarea {margin-bottom:-9px; border:none; line-height:1.5em; font-size:14px;padding:30px 10px; min-height:100px;background:none;}
ul.form label {display:block;}
/*ul.form td.checkbox {padding-top:30px; padding-left:20px;padding-bottom:10px;}*/
ul.form td.title i,ul.form td.description i{position:relative; display:block; padding:20px 0;}
@media screen and (max-width: 735px){
    ul.form.break > li > table > tbody > tr > td,ul.form.break > li > table > tbody > tr > th{display:block !important;  border:none;border-bottom:solid 2px #d5dade;}
    ul.form.break > li{border:none;}

}

/*////UL NAV////*/
ul.nav {
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
	z-index: 10;
}
ul.nav ul {text-align: center; list-style-type:none;}
ul.nav li {position:relative;height:100%;}
ul.nav a{
	padding:10px 30px;
	text-decoration: none;
	color:#555;
	display: block;
	width:100%;
	height:100%;
}
ul.nav > li > a:hover,ul.nav > li > a.active {background:#f2f2f2;}
ul.nav > li > ul,ul.nav > li > ul > li > ul {
	display: none;
	position: absolute;
	z-index:10;
	background: #fff;
	width:250px;
	padding:10px 0;
	margin:0 0 0 250px;
	top:0;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0px  !important;
}
ul.nav > li > ul{-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0px !important;}
ul.nav > li > ul > li > ul{z-index:11;}
ul.nav > li > ul.left {margin-left:-250px; right:0;}
ul.nav > li > ul > li > ul.left {margin-left:-220px;}
ul.nav > li:hover {background: #f2f2f2;}
ul.nav > li:hover > ul {display: block;}
ul.nav > li li {width:100%;}
ul.nav > li > ul > li:hover {background: #f2f2f2;}
ul.nav > li > ul > li:hover ul {display: block;}
ul.nav > li > ul > li > ul > li:hover {background: #f2f2f2;}
ul.nav.flat {display:table; width:auto;table-layout:fixed;border-collapse:collapse;height:100%; }
ul.nav.flat > li{display:table-cell; vertical-align: middle; padding:0; }
ul.nav.flat > li > ul  {margin:0; top: auto;}
@media screen and (max-width: 735px){
	ul.nav.flat > li{display:inline-block; width:100%;}
	ul.nav {width:100% !important; text-align: center;}
	ul.nav > li > ul ,ul.nav > li > ul > li > ul{position: static;width:100%; margin:0;}
	ul.nav > li > ul {background:#f2f2f2; padding:20px;}
	ul.nav > li{ padding:0 20px !important;}
	ul.nav > li > ul > li > ul{background:#e2e2e2;}
	ul.nav ul {	box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;}
	ul.nav li:hover {background:none !important;}
	ul.nav li li a:hover {background:#fff ;}
}

/*////UL BREADCRUMB////*/
ul.bread {list-style-type:none; margin:0;padding:0;display: table; }
ul.bread > li {display:table-cell;padding:0 5px;}
ul.bread > li:before {content:" > ";position: relative;left: -1px;}
ul.bread > li:first-child:before {content:"";}

/*////MAIN FEATURE////*/
.feature {
    position: relative;
    display: table;
    width:100%;
}
.feature.full {
    height: 100% !important;
    min-height:100%;
}
.feature > div {display: none; padding:40px; text-align: center;position: }
.feature > div:first-child {display: table-cell;vertical-align: middle;}
.feature img.bg {
    position: absolute;
    width:100%;
    top:0;
    left:0;
    z-index:-1;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
