.fade-in {
    -webkit-animation: fade_in .5s forwards;
    animation: fade_in .5s forwards
}

.fade-out {
    -webkit-animation: fade_out .5s forwards;
    animation: fade_out .5s forwards
}

.fade-in-basic {
    -webkit-animation: fade_in_basic .3s forwards;
    animation: fade_in_basic .3s forwards
}

.fade-out-basic {
    -webkit-animation: fade_out_basic .5s forwards;
    animation: fade_out_basic .5s forwards
}

.fade-in-slow {
    -webkit-animation: fade_in_slow .5s forwards;
    animation: fade_in_slow .5s forwards
}

.fade-out-slow {
    -webkit-animation: fade_out_slow .5s forwards;
    animation: fade_out_slow .5s forwards
}

.fade-out-right {
    -webkit-animation: fade_out_right .5s forwards;
    animation: fade_out_right .5s forwards
}

.fade-in-right {
    -webkit-animation: fade_in_right .5s forwards;
    animation: fade_in_right .5s forwards
}

.fade-out-left {
    -webkit-animation: fade_out_left .5s forwards;
    animation: fade_out_left .5s forwards
}

.fade-in-left {
    -webkit-animation: fade_in_left .5s forwards;
    animation: fade_in_left .5s forwards
}

.fade-out-far {
    -webkit-animation: fade_out_far .5s forwards;
    animation: fade_out_far .5s forwards
}

.fade-in-far {
    -webkit-animation: fade_in_far .5s forwards;
    animation: fade_in_far .5s forwards
}

.fade-out-bottom {
    -webkit-animation: fade_out_bottom .5s forwards;
    animation: fade_out_bottom .5s forwards
}

.fade-in-bottom {
    -webkit-animation: fade_in_bottom .5s forwards;
    animation: fade_in_bottom .5s forwards
}

.fade-in-top {
    -webkit-animation: fade_in_top .5s forwards;
    animation: fade_in_top .5s forwards
}

.fade-out-top {
    -webkit-animation: fade_out_top .5s forwards;
    animation: fade_out_top .5s forwards
}

.bounce {
    -webkit-animation: bounce .5s forwards;
    animation: bounce .5s forwards
}

.pulse {
    -webkit-animation: fav_pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

.shake {
    -webkit-animation: shake .5s forwards;
    animation: shake .5s forwards
}

.header-in {
    -webkit-animation: header_in .5s forwards;
    animation: header_in .5s forwards
}

.header-out {
    -webkit-animation: header_out .5s forwards;
    animation: header_out .5s forwards
}

.pop-in-out {
    -webkit-animation: pop_in_out .5s forwards;
    animation: pop_in_out .5s forwards
}

.pop-in {
    -webkit-animation: pop_in .5s forwards;
    animation: pop_in .5s forwards
}

.scale-in {
    -webkit-animation: scale_in .5s forwards;
    animation: scale_in .5s forwards
}

.scale-out {
    -webkit-animation: scale_out .5s forwards;
    animation: scale_out .5s forwards
}

.slide-in-left {
    -webkit-animation: slide_in_left .5s forwards;
    animation: slide_in_left .5s forwards
}

.slide-out-right {
    -webkit-animation: slide_out_right .5s forwards;
    animation: slide_out_right .5s forwards
}

@-webkit-keyframes "slide_in_left" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes "slide_in_left" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes "slide_out_right" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes "slide_out_right" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes "fade_in_basic" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes "fade_in_basic" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes "fade_out_basic" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes "fade_out_basic" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes "fade_in_slow" {
    from, to {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes "fade_in_slow" {
    from, to {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "fade_out_slow" {
    from, to {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes "fade_out_slow" {
    from, to {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-webkit-keyframes "pop_in" {
    from, 50%, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    50% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes "pop_in" {
    from, 50%, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    50% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "pop_in_out" {
    from, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    4% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    6% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes "pop_in_out" {
    from, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    4% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }

    6% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes "shake" {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    37.5% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    62.5% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    87.5% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes "shake" {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    37.5% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    62.5% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    87.5% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes "fade_in" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes "fade_in" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "scale_in" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes "scale_in" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes "scale_out" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@keyframes "scale_out" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@-webkit-keyframes "fade_out" {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
    }
}

@keyframes "fade_out" {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
    }
}

@-webkit-keyframes "fav_pulse" {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes "fav_pulse" {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes "bounce" {
    from, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    70% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes "bounce" {
    from, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    70% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes "fade_in_top" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes "fade_in_top" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "fade_in_bottom" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes "fade_in_bottom" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "fade_out_top" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes "fade_out_top" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

@-webkit-keyframes "fade_out_bottom" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes "fade_out_bottom" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
}

@-webkit-keyframes "fade_in_far" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes "fade_in_far" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes "fade_out_far" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes "fade_out_far" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }
}

@-webkit-keyframes "fade_in_left" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes "fade_in_left" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "fade_in_right" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes "fade_in_right" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes "fade_out_left" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 0;
    }
}

@keyframes "fade_out_left" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateX(-40px);
        transform: translateX(-40px);
        opacity: 0;
    }
}

@-webkit-keyframes "fade_out_right" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
    }
}

@keyframes "fade_out_right" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
    }
}

@-webkit-keyframes "header_out" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }
}

@keyframes "header_out" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }
}

@-webkit-keyframes "header_in" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes "header_in" {
    from, to {
        -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
        animation-timing-function: cubic-bezier(0.75, 0, 0.25, 1);
    }

    from {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }

    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
.delay-10 {
    -webkit-animation-delay: 0.10s;
    animation-delay: 0.10s
}
.delay-25 {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s
}
.delay-50 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.delay-75 {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s
}

.delay-100 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.delay-125 {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s
}

.delay-150 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.delay-175 {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s
}

.delay-200 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

