/***************************************
****************************************
8888888b.     d8888Y88b   d88P
888   Y88b   d88888 Y88b d88P
888    888  d88P888  Y88o88P
888   d88P d88P 888   Y888P
8888888P" d88P  888   d888b
888      d88P   888  d88888b
888     d8888888888 d88P Y88b
888    d88P     888d88P   Y88b

CSS Animate V 1.0
Copyright 2017 PAXagency
Created by Albert Kiteck
www.paxagency.com
****************************************
****************************************/
/*EFFECTS*/
.animate.fade,.animate.fade-in { -webkit-animation:fadeIn;-moz-animation:fadeIn;animation:fadeIn;}
.animate.fade-out { -webkit-animation:fadeOut;-moz-animation:fadeOut;animation:fadeOut;}
.animate.slide-top {-webkit-animation:slideTop;-moz-animation:slideTop;animation:slideTop;}
.animate.slide-left {-webkit-animation:slideLeft;-moz-animation:slideLeft;animation:slideLeft;}
.animate.slide-right {-webkit-animation:slideRight;-moz-animation:slideRight;animation:slideRight;}
.animate.slide-bottom {-webkit-animation:slideBottom;-moz-animation:slideBottom;animation:slideBottom;}
.animate.slide-top-out {-webkit-animation:slideTopOut; -moz-animation:slideTopOut;animation:slideTopOut;}
.animate.slide-left-out {-webkit-animation:slideLeftOut;-moz-animation:slideLeftOut;animation:slideLeftOut;}
.animate.slide-right-out {-webkit-animation:slideRightOut;-moz-animation:slideRightOut;animation:slideRightOut;}
.animate.slide-bottom-out {-webkit-animation:slideBottomOut;-moz-animation:slideBottomOut;animation:slideBottomOut;}
.animate.scale { -webkit-animation:scale;-moz-animation:scale;animation:scale;}
.animate.scale-out { -webkit-animation:scaleOut;-moz-animation:scaleOut;animation:scaleOut;}
.animate.scale-big { -webkit-animation:scaleBig;-moz-animation:scaleBig;animation:scaleBig;}
.animate.scale-big-out { -webkit-animation:scaleBigOut;-moz-animation:scaleBigOut;animation:scaleBigOut;}
.animate.bounce {-webkit-animation: bounce .5s forwards;animation: bounce .5s forwards}
.animate.pulse {-webkit-animation: pulse 1s ease-out;-webkit-animation-iteration-count: infinite;opacity: 0.5;}
.animate.shake {-webkit-animation: shake .5s forwards;animation: shake .5s forwards}

/*DEFAULTS*/
.animate.slide-top,.animate.scale-big,.animate.scale-big-out,.animate.scale-out,.animate.scale,.animate.fade-in,.animate.slide,.animate.slide-left,.animate.slide-right,.animate.slide-bottom,.animate.fade,.animate.fade-out,.animate.slide-top-out,.animate.slide-bottom-out,.animate.slide-left-out,.animate.slide-right-out {
  position:relative;
  opacity:0;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}
.animate.fade-out,.animate.slide-top-out,.animate.slide-left-out,.animate.slide-right-out,.animate.slide-bottom-out,.animate.scale-out,.animate.scale-big-out {opacity:1;}
.animate.scale-big-out,.animate.scale-out,.animate.fade-out,.animate.slide-top-out,.animate.slide-left-out,.animate.slide-right-out,.animate.slide-bottom-out{opacity:1;}
.animate.fade-in,.animate.fade-out,.animate.fade,.animate.scale-top-out,.animate.scale-right-out,.animate.scale-left-out,.animate.scale-bottom-out {animation-timing-function:ease-in;}

/*TIMING*/
.animate.length-10 {-webkit-animation-duration:.25s;-moz-animation-duration:.25s;animation-duration:.25s;}
.animate.length-25 {-webkit-animation-duration:.25s;-moz-animation-duration:.25s;animation-duration:.25s;}
.animate.length-50 {-webkit-animation-duration:.5s;-moz-animation-duration:.5s;animation-duration:.5s;}
.animate.length-200 {-webkit-animation-duration:2s;-moz-animation-duration:2s;animation-duration:2s;}
.animate.length-250 {-webkit-animation-duration:2.5s;-moz-animation-duration:2.5s;animation-duration:2.5s;}
.animate.length-300 {-webkit-animation-duration:3s;-moz-animation-duration:3s;animation-duration:3s;}
.animate.length-350 {-webkit-animation-duration:3.5s;-moz-animation-duration:3.5s;animation-duration:3.5s;}
.animate.length-400 {-webkit-animation-duration:4s;-moz-animation-duration:4s;animation-duration:4s;}
.animate.length-500 {-webkit-animation-duration:5s;-moz-animation-duration:5s;animation-duration:5s;}

/*DELAY*/
.animate.delay-10 {-webkit-animation-delay:.1s;-moz-animation-delay:.1s;animation-delay:.1s;}
.animate.delay-25 {-webkit-animation-delay:.25s;-moz-animation-delay:.25s;animation-delay:.25s;}
.animate.delay-50 {-webkit-animation-delay:.50s;-moz-animation-delay:.50s;animation-delay:.50s;}
.animate.delay-75 {-webkit-animation-delay:.75s;-moz-animation-delay:.75s;animation-delay:.75s;}
.animate.delay-100 {-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.animate.delay-150 {-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;animation-delay:1.5s;}
.animate.delay-200 {-webkit-animation-delay:2s;-moz-animation-delay:2s;animation-delay:2s;}
.animate.delay-250 {-webkit-animation-delay:2.5s;-moz-animation-delay:2.5s;animation-delay:2.5s;}
.animate.delay-300 {-webkit-animation-delay:3s;-moz-animation-delay:3s;animation-delay:3s;}

/*EASING*/
.animate.ease-linear {animation-timing-function:linear;}
.animate.ease,.animate.ease-out {animation-timing-function:ease;}
.animate.ease-in {animation-timing-function:ease-in;}
.animate.ease-in-out {animation-timing-function:ease-in-out;}
.animate.ease-quad,.animate.ease-quad-out {animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.animate.ease-quad-in {animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);}
.animate.ease-quad-in-out {animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.animate.ease-quart,.animate.ease-quart-out {animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);}
.animate.ease-quart-in {animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);}
.animate.ease-quart-in-out {animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);}
.animate.ease-expo,.animate.ease-expo-out {animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);}
.animate.ease-expo-in {animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035);}
.animate.ease-expo-in-out {animation-timing-function:cubic-bezier(1, 0, 0, 1);}
.animate.ease-back,.animate.ease-back-out {animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);}
.animate.ease-back-in {animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);}
.animate.ease-back-in-out {animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);}

/*ANIMATIONS*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1;}}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0;}}

@keyframes slideTop {from{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideTop {from{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-moz-keyframes slideTop {from{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}

@keyframes slideLeft {from{ -webkit-transform: translateX(-100%);transform: translateX(-100%);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}
@-webkit-keyframes slideLeft {from{ -webkit-transform: translateX(-100%);transform: translateX(-100%);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}
@-moz-keyframes slideLeft{from{ -webkit-transform: translateX(-100%);transform: translateX(-100%);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}

@keyframes slideRight {from{-webkit-transform: translateX(100%);transform: translateX(100%);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}
@-webkit-keyframes slideRight {from{-webkit-transform: translateX(100%);transform: translateX(100%);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}
@-moz-keyframes slideRight {from{-webkit-transform: translateX(100%);transform: translateX(100%);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}

@keyframes slideBottom {from{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideBottom {from{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-moz-keyframes slideBottom {from{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}

@keyframes slideTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;} to{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;}}
@-webkit-keyframes slideTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;} to{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;}}
@-moz-keyframes slideTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;} to{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;}}

@keyframes slideLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;} to{translateX(-100%);transform: translateX(-100%);opacity:0;}}
@-webkit-keyframes slideLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;} to{translateX(-100%);transform: translateX(-100%);opacity:0;}}
@-moz-keyframes slideLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;} to{translateX(-100%);transform: translateX(-100%);opacity:0;}}

@keyframes slideRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;} to{translateX(100%);transform: translateX(100%);opacity:0;}}
@-webkit-keyframes slideRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;} to{translateX(100%);transform: translateX(100%);opacity:0;}}
@-moz-keyframes slideRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;} to{translateX(100%);transform: translateX(100%);opacity:0;}}

@keyframes slideBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;} to{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;}}
@-webkit-keyframes slideBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;} to{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;}}
@-moz-keyframes slideBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;} to{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;}}

@keyframes scale {from{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-webkit-keyframes scale {from{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-moz-keyframes scale {from{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}

@keyframes scaleOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;}}
@-webkit-keyframes scaleOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;}}
@-moz-keyframes scaleOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;}}

@keyframes scaleBig {from{-webkit-transform:scale(3);transform: scale(3);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-webkit-keyframes scaleBog {from{-webkit-transform:scale(3);transform: scale(3);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-moz-keyframes scaleBig {from{-webkit-transform:scale(3);transform: scale(3);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}

@keyframes scaleBigOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(3);transform: scale(3);opacity:0;}}
@-webkit-keyframes scaleBigOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(3);transform: scale(3);opacity:0;}}
@-moz-keyframes scaleBigOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(3);transform: scale(3);opacity:0;}}

@keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}
@-webkit-keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}
@-moz-keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}

@keyframes "bounce" {
    0% {-webkit-transform: translateY(0);transform: translateY(0);}
    20% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    70% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    to {-webkit-transform: translateY(0);transform: translateY(0);}
}
@-webkit-keyframes "bounce" {
    0% {-webkit-transform: translateY(0);transform: translateY(0);}
    20% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    70% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    to {-webkit-transform: translateY(0);transform: translateY(0);}
}
@-moz-keyframes "bounce" {
    0% {-webkit-transform: translateY(0);transform: translateY(0);}
    20% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    70% {-webkit-transform: translateY(0px);transform: translateY(0px);}
    to {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes "shake" {
    0% {-webkit-transform: translateX(0);transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@-webkit-keyframes "shake" {
    0% {-webkit-transform: translateX(0);transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@-moz-keyframes "shake" {
    0% {-webkit-transform: translateX(0);transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
