/***************************************
****************************************
8888888b.     d8888Y88b   d88P
888   Y88b   d88888 Y88b d88P
888    888  d88P888  Y88o88P
888   d88P d88P 888   Y888P
8888888P" d88P  888   d888b
888      d88P   888  d88888b
888     d8888888888 d88P Y88b
888    d88P     888d88P   Y88b

CSS Framework V 1.1
Copyright 2018 PAXagency
Created by Albert Kiteck
www.paxagency.com
****************************************
****************************************/
html{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
*,*:before,*:after{-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit;}
body{margin:0;color:#363636;font-family:"Helvetica Neue", "Helvetica", "Arial",sans-serif;}
a{text-decoration:none;color:#0061ff;}
h1,h2,h3,h4,h5{margin:.8em 0;}
h1{font-size:3.2em; letter-spacing:-1px;margin:.2em 0;}
h2{font-size:2.5em;}
h3{font-size:2em;}
h4{font-size:1.7em;}
h5{font-size:1.4em;}
p,ul,ol,blockquote{line-height:1.7em;}
p,ul,ol,blockquote,button,footer,table,pre{font-size:16px;}
blockquote{border-left:solid 15px #eee;margin-left:0; padding-left:20px;font-style:italic;}
img{max-width:100%;}
pre{padding:30px;background:#eee;}
table{width:100%;table-layout:fixed;text-align:center;border-collapse:collapse}
input{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
input[type='text'],input[type='password'],input[type='date'],input[type='datetime'],input[type='datetime-local'],input[type='month'],input[type='week'],input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='time'],input[type='url'],input[type='color'],textarea
{
	border: 1px solid #ccc;
	background:none;
	padding: 10px 7px;
	width:100%;
	font-size:18px;
	margin:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:14px 17px 14px 17px;
}
p.lg,ul.lg,ol.lg,blockquote.lg,footer.lg,table.lg{font-size:25px;}
p.sm,ul.sm,ol.lg,blockquote.sm,footer.sm,table.sm{font-size:13px;}
h1.lg{font-size:5em;}h2.lg{font-size:3.5em;}h3.lg{font-size:3em;}h4.lg{font-size:2.5em;}h5.lg{font-size:2em;}

.slat{max-width:960px;margin:0 auto;display:block;padding:60px 40px;}
div.row,div.grid{display:table;width:100%; margin:20px 0;table-layout:fixed;border-collapse:collapse;}
div.row.pad > div,div.grid.pad > div,div.row.allpad > div,div.grid.allpad > div{padding:20px;}
div.row.pad > div:first-child,div.grid.pad > div:first-child{padding-left:0;}
div.row.pad > div:last-child,div.grid.pad > div:last-child{padding-right:0;}
div.row > div, div.grid > div > div{display:table-cell; vertical-align: top;}
div.grid > div.row,div.grid > div{display:table-row-group; margin:0;}
div.row > div.w1,div.grid > div > div.w1{width:10%;}
div.row > div.w2,div.grid > div > div.w2{width:20%;}
div.row > div.w3,div.grid > div > div.w3{width:30%;}
div.row > div.w4,div.grid > div > div.w4{width:40%;}
div.row > div.w5,div.grid > div > div.w5{width:50%;}
div.row > div.w6,div.grid > div > div.w6{width:60%;}
div.row > div.w7,div.grid > div > div.w7{width:70%;}
div.row > div.w8,div.grid > div > div.w8{width:80%;}
div.row > div.w9,div.grid > div > div.w9{width:90%;}
div.row.middle > div,div.grid.middle > div,table.middle > tbody > tr > td{vertical-align:middle;}
div.row.bottom > div,div.grid.bottom > div,table.bottom > tbody > tr > td{vertical-align:bottom;}
div.row.top > div,div.grid.top > div,table.top > tbody > tr > td{vertical-align:top;}

table.list{width:100%;table-layout:auto;}
table.list > tbody > tr:nth-child(even){background:#f3f3f3;}
table.list > thead > tr{background:#f3f3f3; font-weight:400; }
table.list > tbody > tr > td,table.list > thead > tr > th{text-align: left;padding:12px;}
table.hover{cursor:pointer;}
table.hover > tbody > tr:hover{background: #f1f7fb;}
table.pad > tbody > tr > td,table.pad > thead > tr > th{padding:20px;}

.button{
	text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:15px 50px 17px 50px;
	text-decoration:none;
	font-weight: bold;
	display:inline-block;
	text-align:center;
	color:#333;
	background:#ddd;
	cursor: pointer;
	line-height: 1em;
	font-size:19px;
}
.button.border{padding:13px 50px 15px 50px;}
.button:hover,a:hover{opacity:.8;filter:alpha(opacity=80);-moz-opacity:0.8;}
.button:active,a:active {opacity:.5;filter:alpha(opacity=50);-moz-opacity:0.5;}
.button.small{font-size:12px; font-weight:bold; padding:4px 30px 4px 30px;}

.cap{text-transform:uppercase;}
.spread{letter-spacing:.4em;}
.right{text-align:right;}
.center{text-align:center;}
.italic{font-style:italic;}
.strike{text-decoration:line-through;}
.f1{font-weight:100;}.f2{font-weight:200;}.f3{font-weight:300;}.f4{font-weight:400;}.f5{font-weight:500;}
.f6{font-weight:600;}.f7{font-weight:700;}.f8{font-weight:800;}.f9{font-weight:900;}
.border{border:solid 1px #ccc;}
.block{width:100%;padding-left:0;padding-right:0;display:inline-block;}
.pad{padding:20px;}
.op8{opacity:.8;filter:alpha(opacity=80);-moz-opacity:0.8;}.op7{opacity:.7;filter:alpha(opacity=70);-moz-opacity:0.5;}.op5{opacity:.5;filter:alpha(opacity=50);-moz-opacity:0.5;}
.float{float:left;}.float.stay{float:left !important;}
.floatRight{float:right;}.floatRight.stay{float:right !important;}
.hide{display:none;}
.relative{position:relative;}
.absolute{position:absolute;}.absolute.stay{position:absolute !important;}
.fixed{position:fixed;} .fixed.stay{position:fixed !important;}
.absolute.left,.fixed.left,.relative.left{float:none;left:20px;}
.absolute.right,.fixed.right,.relative.right{float:none;right:20px;text-align:left;}
.absolute.top,.fixed.top,.relative.top{top:0;}
.absolute.bottom,.relative.bottom,.fixed.bottom{bottom:0;}
.overflow{overflow:auto;}

.round{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.round2{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.round10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.round20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.round30{-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.round40{-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;}
.round50{-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.round75{-webkit-border-radius:75px;-moz-border-radius:75px;border-radius:75px;}
.round100{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
.circle{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.leftBottom{-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0px  !important;}
.leftTop{-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0px  !important;}
.rightBottom{-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0px  !important;}
.rightTop{-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0px !important;}
.shadow{box-shadow: 0px 15px 30px -10px rgba(36, 37, 62, 0.4), 0px 0px 1px 0px rgba(36, 37, 62, 0.25);}
.shadow.small{box-shadow: 0px 2px 8px -3px rgba(36, 37, 62, 0.4), 0px 0px 1px 0px rgba(36, 37, 62, 0.25);}
.shadow.bottom{-webkit-box-shadow: 0px 50px 50px -55px rgba(36, 37, 62, 0.6);-moz-box-shadow: 0px 50px 50px -55px rgba(36, 37, 62, 0.6);box-shadow: 0px 50px 50px -55px rgba(36, 37, 62, 0.6);}
.shadow.large{-webkit-box-shadow: 10px 10px 118px 0px rgba(0, 0, 0, 0.75);-moz-box-shadow: 10px 10px 118px 0px rgba(0, 0, 0, 0.75);box-shadow: 10px 10px 118px 0px rgba(0, 0, 0, 0.75);}

.grad-lightblue,.grad-black,.grad-yellow,.grad-green,.grad-aqua,.grad-red,.grad-pink,.grad-orange,.grad-purple,.grad-blue,.black,.gray,.blue,.lightblue,.aqua,.green,.yellow,.orange,.red,.pink,.purple{color:#fff;border:none;}
.blue{background:#0061ff;} .blue.text{color:#0061ff;background:none} .blue.border{border:solid 2px #0061ff;}
.lightblue{background:#00c8ff;} .lightblue.text{color:#00c8ff;background:none} .lightblue.border{border:solid 2px #00c8ff;}
.aqua{background:#00bdbb;} .aqua.text{color:#00bdbb;background:none} .aqua.border{border:solid 2px #00c19f;}
.green{background:#63af42 ;} .green.text{color:#63af42;background:none} .green.border{border:solid 2px #63af42;}
.yellow{background:#fecd34;} .yellow.text{color:#fecd34;background:none} .yellow.border{border:solid 2px #fecd34;}
.orange{background:#fd8227;} .orange.text{color:#fd8227;background:none} .orange.border{border:solid 2px #fd8227;}
.red{background:#fc143f;} .red.text{color:#fc143f;background:none} .red.border{border:solid 2px #fc143f;}
.pink{background:#f230a6;} .pink.text{color:#f230a6;background:none} .pink.border{border:solid 2px #f230a6;}
.purple{background:#7636ef;} .purple.text{color:#7636ef;background:none} .purple.border{border:solid 2px #7636ef;}
.black{background:#000;} .black.text{color:#000;background:none} .black.border{border:solid 2px #000;}
.grey{background:#aaa;} .grey.text{color:#aaa;background:none} .grey.border{border:solid 2px #aaa;}
.white{background:#fff;} .white.text{color:#fff;background:none} .white.border{border:solid 2px #fff;}
.grad-blue{background:linear-gradient(45deg,#002aff,#00c8ff);}.grad-blue.border{border:solid 2px #0061ff;}
.grad-lightblue{background:linear-gradient(45deg,#00c8ff,#f2fcfe);}.grad-lightblue.border{border:solid 2px #00c8ff;}
.grad-purple{background: linear-gradient(45deg,#1d1fb0,#c100ff);} .grad-purple.border{border:solid 2px #1d1fb0;}
.grad-pink{background: linear-gradient(45deg,magenta,red);} .grad-pink.border{border:solid 2px magenta;}
.grad-orange{background: linear-gradient(45deg,#f8ae2c,#ee2d29);} .grad-orange.border{border:solid 2px #f8ae2c;}
.grad-aqua{background: linear-gradient(45deg,#a1eee1,#4534ed);} .grad-aqua.border{border:solid 2px #00bdbb;}
.grad-yellow{background: linear-gradient(45deg,#FDFC47,#ed4f9e);} .grad-yellow.border{border:solid 2px #ffa200;}
.grad-green{background: linear-gradient(45deg,#63af42,#ffe400);} .grad-green.border{border:solid 2px #63af42;}
.grad-red{background: linear-gradient(45deg,#ff0800,#ff7d69);} .grad-red.border{border:solid 2px #ff0800;}
.grad-black{background: linear-gradient(45deg,#000,#43006b);} .grad-black.border{border:solid 2px #000;}
.grad-black.text,.grad-lightblue.text,.grad-blue.text,.grad-purple.text,.grad-pink.text,.grad-orange.text,.grad-aqua.text,.grad-yellow.text,.grad-green.text,.grad-red.text{-webkit-background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

input{border-width:1px;}

@media all and (max-width: 735px){
	h1,h2,h3,h4,p{letter-spacing:0;}
	h1,h1.lg{font-size:2em;}
	h2,h2.lg{font-size:1.5em;}
	h3,h3.lg{font-size:1.17em;}
	h4,h4.lg{font-size:1em;}
	h5,h5.lg{font-size:.9em;}
	p,ul,ol,blockquote,button,table,pre{font-size:1em;}
	.slat{padding:20px;overflow:hidden;}
	div.row>div,div.grid>div>div{width:100% !important;display:block; padding:0}
  	div.row.pad>div,div.grid.pad>div,div.row.allpad>div,div.grid.allpad>div{padding:10px;}
  	div.row.stay>div,div.grid.stay>div>div{width:auto !important; display:table-cell; }
	table.list{table-layout:fixed;}
	table.pad>tbody>tr>td,table.pad>thead>tr>th{ padding:10px;}
	table.break>thead>tr>th,table.break>thead>tr,table.break>thead,table.break>tbody>tr>td,table.break>tbody>tr>th,table.break{display:block;padding:0;width:100%;}
	table.break>tbody>tr>td,table.break>thead>tr>th{padding:5px 10px; border-top:solid thin #ddd;bottom:solid thin #ddd;}
	.button{width:100%;padding:15px 0;display:inline-block;}
	.button.small{padding:10px 0;}
	.float,.floatRight{float:none;}
	.fixed{position:static;}
	img{width:100%;max-width:100%;height:auto;max-height:auto;}
	.mhide,.hide{display:none;}
}
