/***************************************
****************************************
8888888b.     d8888Y88b   d88P
888   Y88b   d88888 Y88b d88P
888    888  d88P888  Y88o88P
888   d88P d88P 888   Y888P
8888888P" d88P  888   d888b
888      d88P   888  d88888b
888     d8888888888 d88P Y88b
888    d88P     888d88P   Y88b

CSS Framework V 1.1
Copyright 2018 PAXagency
Created by Albert Kiteck
www.paxagency.com
****************************************
****************************************/
html{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;height:100%;}
*,*:before,*:after{-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit;}
body{margin:0;color:#333;font-family:"Helvetica Neue", "Helvetica",arial,sans-serif;height:100%;}
a{text-decoration:none;color:#0061ff;cursor:pointer;transition: all 0.2s linear; -moz-transition: all linear 0.2s;}
a:hover{color:#0043b8;}a:active{color:#003083;}
h1,h2,h3,h4,h5{margin:.8em 0;}
h1{font-size:3.2em; letter-spacing:-1px;margin:.2em 0;}
h2{font-size:2.5em;}
h3{font-size:2em;}
h4{font-size:1.7em;}
h5{font-size:1.4em;}
p,ul,ol,blockquote{line-height:1.7em;}
p,ul,ol,blockquote,button,footer,table,pre{font-size:16px;}
blockquote{border-left:solid 15px #eee;margin-left:0; padding-left:20px;font-style:italic;}
img{max-width:100%;}
pre{padding:30px;background:#eee;color:#363636;}
table{width:100%;table-layout:fixed;text-align:center;border-collapse:collapse}
input{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
input[type='text'],input[type='password'],input[type='date'],input[type='datetime'],input[type='datetime-local'],input[type='month'],input[type='week'],input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='time'],input[type='url'],input[type='color'],textarea
{
	border: 1px solid #ccc;
	background:none;
	padding: 10px 7px;
	width:100%;
	font-size:18px;
	margin:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:14px 17px 14px 17px;
}
p.lg,ul.lg,ol.lg,blockquote.lg,footer.lg,table.lg{font-size:25px;}
p.sm,ul.sm,ol.lg,blockquote.sm,footer.sm,table.sm{font-size:13px;}
h1.lg{font-size:5em;}h2.lg{font-size:3.5em;}h3.lg{font-size:3em;}h4.lg{font-size:2.5em;}h5.lg{font-size:2em;}

.wrap{max-width:960px;margin:0 auto;display:block;padding:60px 40px;}.wrap.lg{max-width:1400px;}.wrap.md{max-width:1200px;}.wrap.sm{max-width:800px;}
div.row,div.grid{display:table;width:100%; margin:20px 0;table-layout:fixed;border-collapse:collapse;}
div.row.pad > div,div.grid.pad > div,div.row.allpad > div,div.grid.allpad > div{padding:20px;}
div.row.pad > div:first-child,div.grid.pad > div:first-child{padding-left:0;}
div.row.pad > div:last-child,div.grid.pad > div:last-child{padding-right:0;}
div.row.pad {padding:0;}
div.row > div, div.grid > div > div{display:table-cell; vertical-align: top;}
div.grid > div.row,div.grid > div{display:table-row-group; margin:0;}
.w1{width:10%;}.w2{width:20%;}.w3{width:30%;}.w4{width:40%;}.w5{width:50%;}.w6{width:60%;}.w7{width:70%;}.w8{width:80%;}.w9{width:90%;}.w10{width:100%;}
div.row.middle > div,div.grid.middle > div,table.middle > tbody > tr > td{vertical-align:middle;}
div.row.bottom > div,div.grid.bottom > div,table.bottom > tbody > tr > td{vertical-align:bottom;}
div.row.top > div,div.grid.top > div,table.top > tbody > tr > td{vertical-align:top;}

table.list{width:100%;table-layout:auto;}
table.list > tbody > tr:nth-child(even){background:#f3f3f3;}
table.list > thead > tr{background:#f3f3f3; font-weight:400; }
table.list > tbody > tr > td,table.list > thead > tr > th{text-align: left;padding:12px;}
table.hover{cursor:pointer;}
table.hover > tbody > tr:hover{background: #f1f7fb;}
table.pad > tbody > tr > td,table.pad > thead > tr > th{padding:20px;}

.button{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	padding:15px 50px 17px 50px;
	text-decoration:none;
	font-weight: bold;
	display:inline-block;
	text-align:center;
	background:#7c92c5;
	cursor: pointer;
	line-height: 1em;
	font-size:19px;
	color:#fff;
	transition: all 0.2s linear; -moz-transition: all linear 0.2s;
}
.button.text {color:#576a95;background:none;}
.button.border{padding:13px 50px 15px 50px;border:solid 2px #7c92c5;}
.button:hover{border-color:#677bab;background:#677bab;color:#fff;}
.button:active{background:#576a95;}
.button.sm{font-size:12px; font-weight:bold; padding:5px 30px;}


.cap{text-transform:uppercase;}
.spread{letter-spacing:.4em;}
.right{text-align:right;}
.center{text-align:center;}
.italic{font-style:italic;}
.strike{text-decoration:line-through;}
.f1{font-weight:100;}.f2{font-weight:200;}.f3{font-weight:300;}.f4{font-weight:400;}.f5{font-weight:500;}
.f6{font-weight:600;}.f7{font-weight:700;}.f8{font-weight:800;}.f9{font-weight:900;}
.border{border:solid 1px #ccc;}
.block{width:100%;padding-left:0;padding-right:0;display:inline-block;}
.fill{width:100%;height:100%;padding-left:0;padding-right:0;margin:0;display:block;}
.pad{padding:20px;}.pad5{padding:5px;}.pad10{padding:10px;}.marg{margin:20px;}.marg5{margin:5px;}.marg10{margin:10px;}.nopad{padding:0;}.nomarg{margin:0;}
.op{opacity:.6;filter:alpha(opacity=60)}.op8{opacity:.8;filter:alpha(opacity=80);-moz-opacity:0.8;}.op7{opacity:.7;filter:alpha(opacity=70);-moz-opacity:0.5;}.op5{opacity:.5;filter:alpha(opacity=50);-moz-opacity:0.5;}
.float{float:left;}.float.stay{float:left !important;}
.floatRight{float:right;}.floatRight.stay{float:right !important;}
.hide{display:none;}
.relative{position:relative;}
.absolute{position:absolute;}.absolute.stay{position:absolute !important;}
.fixed{position:fixed;z-index:1;} .fixed.stay{position:fixed !important;}
.absolute.left,.fixed.left,.relative.left{float:none;left:20px;}
.absolute.right,.fixed.right,.relative.right{float:none;right:20px;text-align:left;}
.absolute.top,.fixed.top,.relative.top{top:0;}
.absolute.bottom,.relative.bottom,.fixed.bottom{bottom:0;}
.overflow{overflow:auto;}

.round{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.round2{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.round10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.round20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.round30{-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.round40{-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;}
.round50{-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.round75{-webkit-border-radius:75px;-moz-border-radius:75px;border-radius:75px;}
.round100{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
.circle{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.leftBottom{-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0px  !important;}
.leftTop{-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-top-left-radius:0px  !important;}
.rightBottom{-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0px  !important;}
.rightTop{-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-top-right-radius:0px !important;}
.shadow{box-shadow: 0px 20px 30px -10px rgba(36, 37, 62, 0.6);}
.shadow-sm{box-shadow: 0px 2px 8px -3px rgba(36, 37, 62, 0.4);}
.shadow-lg{-webkit-box-shadow: 10px 10px 118px 0px rgba(0, 0, 0, 0.75);-moz-box-shadow: 10px 10px 118px 0px rgba(0, 0, 0, 0.75);box-shadow: 10px 10px 118px 0px rgba(0, 0, 0, 0.75);}
.shadow-bottom-lg{box-shadow: 0px 90px 160px -30px rgba(36, 37, 62, 0.9);}

.black,.grey,.blue,.lightblue,.aqua,.green,.yellow,.orange,.red,.pink,.purple,.grad{color:#fff;}
.blue{background:#0061ff;}.blue.text{color:#0061ff;background:none}.blue.border{border:solid 2px #0061ff;}
.lightblue{background:#00c8ff;} .lightblue.text{color:#00c8ff;background:none} .lightblue.border{border:solid 2px #00c8ff;}
.aqua{background:#00bab3;} .aqua.text{color:#00bab3;background:none} .aqua.border{border:solid 2px #00bab3;}
.green{background:#30ab36 ;} .green.text{color:#2a922f;background:none} .green.border{border:solid 2px #30ab36;}
.yellow{background:#ffbf20;} .yellow.text{color:#ffbf20;background:none} .yellow.border{border:solid 2px #ffbf20;}
.orange{background:#fd8227;} .orange.text{color:#fd8227;background:none} .orange.border{border:solid 2px #fd8227;}
.red{background:#fc0d1b;}.red.text{color:#fc0d1b;background:none} .red.border{border:solid 2px #fc0d1b;}
.pink{background:#f230a6;} .pink.text{color:#f230a6;background:none} .pink.border{border:solid 2px #f230a6;}
.purple{background:#8400ff;} .purple.text{color:#8400ff;background:none} .purple.border{border:solid 2px #8400ff;}
.black{background:#000;} .black.text{color:#000;background:none} .black.border{border:solid 2px #666;}
.grey{background:#89908e;} .grey.text{color:#89908e;background:none} .grey.border{border:solid 2px #d2d9d7;}
.white{background:#fff;color:#555;} .white.text{color:#fff;background:none} .white.border{border:solid 2px #fff;}
.grad{background:linear-gradient(45deg,#8d9ec5,#415fa5);}
.grad.blue{background:linear-gradient(45deg,#002aff,#00c8ff);}
.grad.lightblue{background:linear-gradient(45deg,#00c8ff,#f2fcfe);}
.grad.purple{background: linear-gradient(45deg,#1d1fb0,#c100ff);}
.grad.pink{background: linear-gradient(45deg,magenta,red);}
.grad.orange{background: linear-gradient(45deg,#f8ae2c,#ee2d29);}
.grad.aqua{background: linear-gradient(45deg,#52ffd4,#00a3ef);}
.grad.yellow{background: linear-gradient(45deg,#ffd041,#c28a00);}
.grad.green{background: linear-gradient(45deg,#30ab36,#ffe400);}
.grad.red{background: linear-gradient(45deg,#ff0800,#ff7d69);}
.grad.grey{background: linear-gradient(160deg,#d0d5d3,#575b5a);}
.grad.white{background: linear-gradient(160deg,#fafafa,#d0d5d3);}
.grad.black{background: linear-gradient(45deg,#000,#43006b);}
.grad.text{-webkit-background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.grad.button {transition:none;}

.button.blue:hover{border-color:#0052e1;background:#0052e1;color:#fff;}.button.blue:active {background:#014aca;} 
.button.lightblue:hover{border-color:#00b3ea;background:#00b3ea;color:#fff;} .button.lightblue:active {background:#009ece;}
.button.aqua:hover{border-color:#02afaa;background:#02afaa;color:#fff;} .button.aqua:active {background:#00a09b;}
.button.green:hover{border-color:#2a922f;background:#2a922f;color:#fff;} .button.green:active {background:#1e7622;}
.button.orange:hover{border-color:#ec6502;background:#ec6502;color:#fff;} .button.orange:active {background:#d35b02;}
.button.yellow:hover{border-color:#f8b000;background:#f8b000;color:#fff;} .button.yellow:active {background:#dc9d02;}
.button.red:hover{border-color:#dd020f;background:#dd020f;color:#fff;} .button.red:active{background:#bc010c;}
.button.pink:hover{border-color:#dc2c97;background:#dc2c97;color:#fff;} .button.pink:active {background:#c72788;}
.button.purple:hover{border-color:#7400e0;background:#7400e0;color:#fff;} .button.purple:active {background:#6302be;}
.button.black:hover{border-color:#333;background:#333;color:#fff;} .button.black:active {background:#000;}
.button.white:hover{border-color:#f5f5f5;background:#f5f5f5;color:#555;} .button.white:active {background:#ddd;}
.button.grey:hover{border-color:#757b79;background:#757b79;color:#fff;} .button.grey:active {background:#575b5a;}
.button[disabled] {background:#b9bec9 !important;}
input{border-width:1px;}

@media all and (max-width: 735px){
	h1,h2,h3,h4,p{letter-spacing:0 !important;}
	h1,h1.lg{font-size:2em !important;}
	h2,h2.lg{font-size:1.5em !important;}
	h3,h3.lg{font-size:1.17em !important;}
	h4,h4.lg{font-size:1em !important;}
	h5,h5.lg{font-size:.9em !important;}
	p,ul,ol,blockquote,button,table,pre{font-size:1em !important;}
	.wrap{padding:20px;overflow:hidden;}
	div.row>div,div.grid>div>div{width:100% !important;display:block; padding:0;margin:20px 0;}
  	div.row.pad>div,div.grid.pad>div,div.row.allpad>div,div.grid.allpad>div{padding:0px;}
  	div.row.stay>div,div.grid.stay>div>div{width:auto !important; display:table-cell; padding:5px;}
	table.list{table-layout:fixed;}
	table.pad>tbody>tr>td,table.pad>thead>tr>th{ padding:10px;}
	table.break,table.break>thead,table.break>tbody,table.break>thead>tr,table.break>tbody>tr,table.break>thead>tr>th,table.break>tbody>tr>td,table.break>tbody>tr>th{display:block !important;padding:0;width:100% !important;}
	table.break>tbody>tr>td,table.break>thead>tr>th{padding:5px 10px;}
	.button{width:100%;padding:15px 0;display:inline-block;}
	.button.sm{padding:10px 0;}
	.float,.floatRight{float:none;}
	.fixed{position:static;}
	img{width:100%;max-width:100%;height:auto;max-height:auto;}
	.mhide,.hide{display:none !important;}
}
