/******************************/
/****** PAX ANIMATE 1.1.0 *****/
/***** docs.paxagency.com *****/
/******************************/
.fade { -webkit-animation:fade;animation:fade;}
.scale { -webkit-animation:scale;animation:scale;}
.grow { -webkit-animation:grow;animation:grow;}
.bulge { -webkit-animation:bulge;animation:bulge;}
.bounce {-webkit-animation:bounce; animation:bounce;}
.scale-big { -webkit-animation:scaleBig;animation:scaleBig;}
.scale-small { -webkit-animation:scaleSmall;animation:scaleSmall;}

.move-top {-webkit-animation:moveTop;animation:moveTop;}
.move-left {-webkit-animation:moveLeft;animation:moveLeft;}
.move-right {-webkit-animation:moveRight;animation:moveRight;}
.move-bottom {-webkit-animation:moveBottom;animation:moveBottom;}
.slide-top {-webkit-animation:slideTop;animation:slideTop;}
.slide-left {-webkit-animation:slideLeft;animation:slideLeft;}
.slide-right {-webkit-animation:slideRight;animation:slideRight;}
.slide-bottom {-webkit-animation:slideBottom;animation:slideBottom;}

.pulse {-webkit-animation: pulse 1s ease-out infinite;opacity: 0.5;}
.rotate {animation:rotate 1s infinite linear; -webkit-animation: rotate 1s infinite linear;}
.shake {-webkit-animation: shake .5s forwards;animation: shake .5s forwards}
.morph {-webkit-animation: morph 8s infinite reverse;animation: morph 8s infinite reverse;}
.floating {-webkit-animation: float 3s ease-in-out infinite;animation: float 3s ease-in-out infinite;}
.kenburns  {-webkit-animation:scaleSlow 15s linear;animation:scaleSlow 15s linear;}

/*AFTER ANIMATION HIDE*/
.fade-hide { -webkit-animation:fade,outHide;animation:fade,outHide;}
.scale-hide { -webkit-animation:scaleOut,outHide;animation:scaleOut,outHide;}
.grow-hide { -webkit-animation:growOut,outHide;animation:growOut,outHide;}
.bulge-hide { -webkit-animation:bulge,outHide;animation:bulge,outHide;}
.scale-big-hide { -webkit-animation:scaleBigOut,outHide;animation:scaleBigOut,outHide;}
.scale-small-hide { -webkit-animation:scaleSmallOut,outHide;animation:scaleSmallOut,outHide;}
.move-top-hide {-webkit-animation:moveTop,outHide;animation:moveTop,outHide;}
.move-left-hide {-webkit-animation:moveLeftOut,outHide;animation:moveLeftOut,outHide;}
.move-right-hide {-webkit-animation:moveRightOut,outHide;animation:moveRightOut,outHide;}
.move-bottom-hide {-webkit-animation:moveBottomOut,outHide;animation:moveBottomOut,outHide;}
.slide-top-hide {-webkit-animation:slideTopOut,outHide; animation:slideTopOut,outHide;}
.slide-left-hide {-webkit-animation:slideLeftOut,outHide;animation:slideLeftOut;}
.slide-right-hide {-webkit-animation:slideRightOut,outHide;animation:slideRightOut,outHide;}
.slide-bottom-hide {-webkit-animation:slideBottomOut,outHide;animation:slideBottomOut,outHide;}


/*DEFAULTS*/
.animate {    
	position:relative;
    opacity:0;
    animation-duration:.5s;
    animation-fill-mode:forwards;
    animation-timing-function:cubic-bezier(.165,.84,.44,1);
    -webkit-animation-duration:.5s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-timing-function:cubic-bezier(.165,.84,.44,1);
}
.animate.bounce,.animate.pulse,.animate.morph,.animate.shake,.animate.rotate,.animate.floating {opacity:1;}
.animate.fade,.animate.scale-top,.animate.scale,.animate.scale-left,.animate.scale-bottom {animation-timing-function:ease-in;}
/*REVERSE*/
.animate.reverse{opacity:1; -webkit-animation-direction:reverse;animation-direction:reverse;}
.animate.infinite {animation-iteration-count: infinite;}
/*TIMING*/
.animate.speed-100 {-webkit-animation-duration:.1s;animation-duration:.1s;}
.animate.speed-200 {-webkit-animation-duration:.2s;animation-duration:.2s;}
.animate.speed-300 {-webkit-animation-duration:.3s;animation-duration:.3s;}
.animate.speed-400 {-webkit-animation-duration:.4s;animation-duration:.4s;}
.animate.speed-500 {-webkit-animation-duration:.5s;animation-duration:.5s;}
.animate.speed-600 {-webkit-animation-duration:.6s;animation-duration:.6s;}
.animate.speed-700 {-webkit-animation-duration:.7s;animation-duration:.7s;}
.animate.speed-800 {-webkit-animation-duration:.8s;animation-duration:.8s;}
.animate.speed-900 {-webkit-animation-duration:.9s;animation-duration:.9s;}
.animate.speed-1000 {-webkit-animation-duration:1s;animation-duration:1s;}
.animate.speed-1500 {-webkit-animation-duration:1.5s;animation-duration:1.5s;}
.animate.speed-2000 {-webkit-animation-duration:2s;animation-duration:2s;}
.animate.speed-2500 {-webkit-animation-duration:2.5s;animation-duration:2.5s;}
.animate.speed-3000 {-webkit-animation-duration:3s;animation-duration:3s;}
.animate.speed-3500 {-webkit-animation-duration:3.5s;animation-duration:3.5s;}
.animate.speed-4000 {-webkit-animation-duration:4s;animation-duration:4s;}
.animate.speed-4500 {-webkit-animation-duration:4.5s;animation-duration:4.5s;}
.animate.speed-5000 {-webkit-animation-duration:5s;animation-duration:5s;}
/*DELAY*/
.animate.delay-100 {-webkit-animation-delay:.1s;animation-delay:.1s;}
.animate.delay-200 {-webkit-animation-delay:.2s;animation-delay:.2s;}
.animate.delay-300 {-webkit-animation-delay:.3s;animation-delay:.3s;}
.animate.delay-400 {-webkit-animation-delay:.4s;animation-delay:.4s;}
.animate.delay-500 {-webkit-animation-delay:.5s;animation-delay:.5s;}
.animate.delay-600 {-webkit-animation-delay:.6s;animation-delay:.6s;}
.animate.delay-700 {-webkit-animation-delay:.7s;animation-delay:.7s;}
.animate.delay-800 {-webkit-animation-delay:.8s;animation-delay:.8s;}
.animate.delay-900 {-webkit-animation-delay:.9s;animation-delay:.9s;}
.animate.delay-1000 {-webkit-animation-delay:1s;animation-delay:1s;}
.animate.delay-1500 {-webkit-animation-delay:1.5s;animation-delay:1.5s;}
.animate.delay-2000 {-webkit-animation-delay:2s;animation-delay:2s;}
.animate.delay-2500 {-webkit-animation-delay:2.5s;animation-delay:2.5s;}
.animate.delay-3000 {-webkit-animation-delay:3s;animation-delay:3s;}
.animate.delay-3500 {-webkit-animation-delay:3.5s;animation-delay:3.5s;}
.animate.delay-4000 {-webkit-animation-delay:4s;animation-delay:4s;}
.animate.delay-4500 {-webkit-animation-delay:4.5s;animation-delay:4.5s;}
.animate.delay-5000 {-webkit-animation-delay:5s;animation-delay:5s;}
/*EASING*/
.animate.ease-linear {animation-timing-function:linear;}
.animate.ease,.animate.ease-out {animation-timing-function:ease;}
.animate.ease-in {animation-timing-function:ease-in;}
.animate.ease-in-out {animation-timing-function:ease-in-out;}
.animate.ease-bezier {animation-timing-function:cubic-bezier(0.75, 0, 0.25, 1);}
.animate.ease-quad,.animate.ease-quad-out {animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.animate.ease-quad-in {animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);}
.animate.ease-quad-in-out {animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.animate.ease-quart,.animate.ease-quart-out {animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);}
.animate.ease-quart-in {animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);}
.animate.ease-quart-in-out {animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);}
.animate.ease-expo,.animate.ease-expo-out {animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);}
.animate.ease-expo-in {animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035);}
.animate.ease-expo-in-out {animation-timing-function:cubic-bezier(1, 0, 0, 1);}
.animate.ease-back,.animate.ease-back-out {animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);}
.animate.ease-back-in {animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);}
.animate.ease-back-in-out {animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.preload * {animation-play-state: paused !important;-webkit-transition: none !important;-moz-transition: none !important;-ms-transition: none !important;-o-transition: none !important;}

/*ANIMATIONS*/
@keyframes fade { from { opacity:0;} to { opacity:1;}}
@-webkit-keyframes fadeIn { from { opacity:0;} to { opacity:1;} }

@keyframes moveTop {from{transform: translateY(-25px);opacity:0;} to{transform: translateY(0%);opacity:1;}}
@-webkit-keyframes moveTop {from{-webkit-transform: translateY(-25px);opacity:0;} to{-webkit-transform: translateY(0%);opacity:1;}}

@keyframes moveLeft {from{transform: translateX(-25px);opacity:0;} to{transform: translateX(0%);opacity:1;}}
@-webkit-keyframes moveLeft {from{ -webkit-transform: translateX(-25px);opacity:0;} to{-webkit-transform: translateX(0%);opacity:1;}}

@keyframes moveRight {from{transform: translateX(25px);opacity:0;} to{transform: translateX(0%);opacity:1;}}
@-webkit-keyframes moveRight {from{-webkit-transform: translateX(25px);opacity:0;} to{-webkit-transform: translateX(0%);opacity:1;}}

@keyframes moveBottom {from{transform: translateY(25px);opacity:0;} to{transform: translateY(0%);opacity:1;}}
@-webkit-keyframes moveBottom {from{-webkit-transform: translateY(25px);opacity:0;} to{-webkit-transform: translateY(0%);opacity:1;}}

@keyframes slideTop {from{transform: translateY(-100%);opacity:0;} to{transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideTop {from{-webkit-transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);opacity:1;}}

@keyframes slideLeft {from{ transform: translateX(-100%);opacity:0;} to{transform:translateX(0%);transform: translateX(0%);opacity:1;}}
@-webkit-keyframes slideLeft {from{ -webkit-transform: translateX(-100%);opacity:0;} to{-webkit-transform: translateX(0%);opacity:1;}}

@keyframes slideRight {from{transform: translateX(100%);opacity:0;} to{transform:translateX(0%);transform: translateX(0%);;opacity:1;}}
@-webkit-keyframes slideRight {from{-webkit-transform: translateX(100%);opacity:0;} to{-webkit-transform: translateX(0%);opacity:1;}}

@keyframes slideBottom {from{transform: translateY(100%);opacity:0;} to{transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideBottom {from{-webkit-transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);opacity:1;}}

@keyframes scale {from{transform: scale(1.5);opacity:0;} to{transform: scale(1);opacity:1;}}
@-webkit-keyframes scale {from{-webkit-transform:scale(1.5);opacity:0;} to{-webkit-transform:scale(1);opacity:1;}}

@keyframes scaleBig {from{transform: scale(3);opacity:0;} to{transform: scale(1);opacity:1;}}
@-webkit-keyframes scaleBig {from{-webkit-transform:scale(3);opacity:0;} to{-webkit-transform:scale(1);opacity:1;}}

@keyframes scaleSmall {from{transform: scale(1.05);opacity:0;} to{transform: scale(1);opacity:1;}}
@-webkit-keyframes scaleSmall {from{-webkit-transform:scale(1.05);opacity:0;} to{-webkit-transform:scale(1);opacity:1;}}

@keyframes grow {from{transform: scale(.7);opacity:0;} to{transform: scale(1);opacity:1;}}
@-webkit-keyframes grow {from{-webkit-transform:scale(.7);opacity:0;} to{-webkit-transform:scale(1);opacity:1;}}

@keyframes scaleSlow {from{transform: scale(1.2);} to{transform: scale(1);}}
@-webkit-keyframes scaleSlow {from{-webkit-transform:scale(1.2);} to{-webkit-transform:scale(1);}}

@keyframes bulge {0% {opacity:0;transform:scale(0.9);} 50% {transform:scale(1.02);} to {opacity:1;transform:scale(1);}}
@-webkit-keyframes bulge {0%{opacity:0;-webkit-transform:scale(0.9);}50%{-webkit-transform:scale(1.02);}to{opacity:1;-webkit-transform:scale(1);}}

@keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}
@-webkit-keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}

@keyframes rotate {from {transform:rotate(0deg);} to {transform:rotate(360deg);}}
@-webkit-keyframes rotate {from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg);}}

@keyframes bounce {
    0% {transform: translateY(0);}
    20% {transform: translateY(10px);}
    70% {transform: translateY(0px);}
    to {transform: translateY(0);}
}
@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0);}
    20% {-webkit-transform: translateY(10px);}
    70% {-webkit-transform: translateY(0px);}
    to {-webkit-transform: translateY(0);}
}

@keyframes morph {
    0% {border-radius:38% 62% 40% 60%/47% 41% 59% 53%;}
	33% {border-radius:64% 36% 46% 54%/38% 48% 52% 62%;}
	66% {border-radius:71% 29% 58% 42%/31% 58% 42% 69%;}
	to {border-radius:38% 62% 40% 60%/47% 41% 59% 53%;}
}
@-webkit-keyframes morph {
	0% {-webkit-border-radius:38% 62% 40% 60%/47% 41% 59% 53%;}
	33% {-webkit-border-radius:64% 36% 46% 54%/38% 48% 52% 62%;}
	66% {-webkit-border-radius:71% 29% 58% 42%/31% 58% 42% 69%;}
	to {-webkit-border-radius:38% 62% 40% 60%/47% 41% 59% 53%;}
}

@keyframes float {
	0%, to {transform:translateY(0)}
	50% {transform:translateY(-.8%)}
}
@-webkit-keyframes float {
	0%, to {-webkit-transform:translateY(0)}
	50% {-webkit-transform:translateY(-.8%)}
}   

@keyframes outHide {
    0% {height:0;}
	1% {height:auto;}
    100% {height:auto;}
}
@-webkit-keyframes outHide {
    0% {height:0;}
	1% {height:auto;}
    100% {height:auto;}
}

@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-6px);}
    37.5% {transform: translateX(5px);}
    62.5% {transform: translateX(-3px);}
	87.5% {transform: translateX(2px);}
    100% {transform: translateX(0);}
}
@-webkit-keyframes shake {
    0% {-webkit-transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);}
}