/******************************/
/****** PAX ANIMATE 1.0.2 *****/
/***** docs.paxagency.com *****/
/******************************/
.animate.fade,.animate.fade-in { -webkit-animation:fadeIn;-moz-animation:fadeIn;animation:fadeIn;}
.animate.fade-out { -webkit-animation:fadeOut;-moz-animation:fadeOut;animation:fadeOut;}
.animate.fade-out-hide { -webkit-animation:fadeOutHide;-moz-animation:fadeOutHide;animation:fadeOutHide;}

.animate.move-top {-webkit-animation:moveTop;-moz-animation:moveTop;animation:moveTop;}
.animate.move-left {-webkit-animation:moveLeft;-moz-animation:moveLeft;animation:moveLeft;}
.animate.move-right {-webkit-animation:moveRight;-moz-animation:moveRight;animation:moveRight;}
.animate.move-bottom {-webkit-animation:moveBottom;-moz-animation:moveBottom;animation:moveBottom;}
.animate.move-top-out {-webkit-animation:moveTopOut;-moz-animation:moveTopOut;animation:moveTopOut;}
.animate.move-left-out {-webkit-animation:moveLeftOut;-moz-animation:moveLeftOut;animation:moveLeftOut;}
.animate.move-right-out {-webkit-animation:moveRightOut;-moz-animation:moveRightOut;animation:moveRightOut;}
.animate.move-bottom-out {-webkit-animation:moveBottomOut;-moz-animation:moveBottomOut;animation:moveBottomOut;}

.animate.slide-top {-webkit-animation:slideTop;-moz-animation:slideTop;animation:slideTop;}
.animate.slide-left {-webkit-animation:slideLeft;-moz-animation:slideLeft;animation:slideLeft;}
.animate.slide-right {-webkit-animation:slideRight;-moz-animation:slideRight;animation:slideRight;}
.animate.slide-bottom {-webkit-animation:slideBottom;-moz-animation:slideBottom;animation:slideBottom;}
.animate.slide-top-out {-webkit-animation:slideTopOut; -moz-animation:slideTopOut;animation:slideTopOut;}
.animate.slide-left-out {-webkit-animation:slideLeftOut;-moz-animation:slideLeftOut;animation:slideLeftOut;}
.animate.slide-right-out {-webkit-animation:slideRightOut;-moz-animation:slideRightOut;animation:slideRightOut;}
.animate.slide-bottom-out {-webkit-animation:slideBottomOut;-moz-animation:slideBottomOut;animation:slideBottomOut;}
.animate.scale { -webkit-animation:scale;-moz-animation:scale;animation:scale;}
.animate.scale-out { -webkit-animation:scaleOut;-moz-animation:scaleOut;animation:scaleOut;}
.animate.scale-big { -webkit-animation:scaleBig;-moz-animation:scaleBig;animation:scaleBig;}
.animate.scale-big-out { -webkit-animation:scaleBigOut;-moz-animation:scaleBigOut;animation:scaleBigOut;}
.animate.scale-small { -webkit-animation:scaleSmall;-moz-animation:scaleSmall;animation:scaleSmall;}
.animate.scale-small-out { -webkit-animation:scaleSmallOut;-moz-animation:scaleSmallOut;animation:scaleSmallOut;}
.animate.grow { -webkit-animation:grow;-moz-animation:grow;animation:grow;}
.animate.grow-out { -webkit-animation:growOut;-moz-animation:growOut;animation:growOut;}
.animate.bulge { -webkit-animation:bulge;-moz-animation:bulge;animation:bulge;}
.animate.bulge-out { -webkit-animation:bulgeOut;-moz-animation:bulgeOut;animation:bulge;}
.animate.bounce {-webkit-animation: bounce .5s forwards;animation: bounce .5s forwards}
.animate.pulse {-webkit-animation: pulse 1s ease-out;-webkit-animation-iteration-count: infinite;opacity: 0.5;}
.animate.rotate {-moz-animation:rotates 1s infinite linear;animation:rotates 1s infinite linear; -webkit-animation: rotates 1s infinite linear;}
.animate.shake {-webkit-animation: shake .5s forwards;animation: shake .5s forwards}

/*DEFAULTS*/
.animate.move-left,.animate.move-right,.animate.move-bottom,.animate.move-top,.animate.scale-small,.animate.scale-small-out,.animate.bulge,.animate.bulge-out,.animate.slide-top,.animate.grow,.animate.grow-out,.animate.scale-big,.animate.scale-big-out,.animate.scale-out,.animate.scale,.animate.fade-in,.animate.slide,.animate.slide-left,.animate.slide-right,.animate.slide-bottom,.animate.fade,.animate.fade-out,.animate.fade-out-hide,.animate.slide-top-out,.animate.slide-bottom-out,.animate.slide-left-out,.animate.slide-right-out {
    position:relative;
    opacity:0;
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    animation-timing-function:cubic-bezier(.165,.84,.44,1);
}
.animate.bulge-out,.animate.scale-small-out,.animate.grow-out,.animate.scale-big-out,.animate.scale-out,.animate.fade-out,.animate.fade-out-hide,.animate.slide-top-out,.animate.slide-left-out,.animate.slide-right-out,.animate.slide-bottom-out{opacity:1;}
.animate.fade-in,.animate.fade-out,.animate.fade-out-hide,.animate.fade,.animate.scale-top-out,.animate.scale-right-out,.animate.scale-left-out,.animate.scale-bottom-out {animation-timing-function:ease-in;}

/*TIMING*/
.animate.speed-100 {-webkit-animation-duration:.1s;-moz-animation-duration:.1s;animation-duration:.1s;}
.animate.speed-200 {-webkit-animation-duration:.2s;-moz-animation-duration:.2s;animation-duration:.2s;}
.animate.speed-300 {-webkit-animation-duration:.3s;-moz-animation-duration:.3s;animation-duration:.3s;}
.animate.speed-400 {-webkit-animation-duration:.4s;-moz-animation-duration:.4s;animation-duration:.4s;}
.animate.speed-500 {-webkit-animation-duration:.5s;-moz-animation-duration:.5s;animation-duration:.5s;}
.animate.speed-600 {-webkit-animation-duration:.6s;-moz-animation-duration:.6s;animation-duration:.6s;}
.animate.speed-700 {-webkit-animation-duration:.7s;-moz-animation-duration:.7s;animation-duration:.7s;}
.animate.speed-800 {-webkit-animation-duration:.8s;-moz-animation-duration:.8s;animation-duration:.8s;}
.animate.speed-900 {-webkit-animation-duration:.9s;-moz-animation-duration:.9s;animation-duration:.9s;}
.animate.speed-1000 {-webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s;}
.animate.speed-1500 {-webkit-animation-duration:1.5s;-moz-animation-duration:1.5s;animation-duration:1.5s;}
.animate.speed-2000 {-webkit-animation-duration:2s;-moz-animation-duration:2s;animation-duration:2s;}
.animate.speed-2500 {-webkit-animation-duration:2.5s;-moz-animation-duration:2.5s;animation-duration:2.5s;}
.animate.speed-3000 {-webkit-animation-duration:3s;-moz-animation-duration:3s;animation-duration:3s;}
.animate.speed-3500 {-webkit-animation-duration:3.5s;-moz-animation-duration:3.5s;animation-duration:3.5s;}
.animate.speed-4000 {-webkit-animation-duration:4s;-moz-animation-duration:4s;animation-duration:4s;}
.animate.speed-4500 {-webkit-animation-duration:4.5s;-moz-animation-duration:4.5s;animation-duration:4.5s;}
.animate.speed-5000 {-webkit-animation-duration:5s;-moz-animation-duration:5s;animation-duration:5s;}

/*DELAY*/
.animate.delay-100 {-webkit-animation-delay:.1s;-moz-animation-delay:.1s;animation-delay:.1s;}
.animate.delay-200 {-webkit-animation-delay:.2s;-moz-animation-delay:.2s;animation-delay:.2s;}
.animate.delay-300 {-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s;}
.animate.delay-400 {-webkit-animation-delay:.4s;-moz-animation-delay:.4s;animation-delay:.4s;}
.animate.delay-500 {-webkit-animation-delay:.5s;-moz-animation-delay:.5s;animation-delay:.5s;}
.animate.delay-600 {-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s;}
.animate.delay-700 {-webkit-animation-delay:.7s;-moz-animation-delay:.7s;animation-delay:.7s;}
.animate.delay-800 {-webkit-animation-delay:.8s;-moz-animation-delay:.8s;animation-delay:.8s;}
.animate.delay-900 {-webkit-animation-delay:.9s;-moz-animation-delay:.9s;animation-delay:.9s;}
.animate.delay-1000 {-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s;}
.animate.delay-1500 {-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;animation-delay:1.5s;}
.animate.delay-2000 {-webkit-animation-delay:2s;-moz-animation-delay:2s;animation-delay:2s;}
.animate.delay-2500 {-webkit-animation-delay:2.5s;-moz-animation-delay:2.5s;animation-delay:2.5s;}
.animate.delay-3000 {-webkit-animation-delay:3s;-moz-animation-delay:3s;animation-delay:3s;}
.animate.delay-3500 {-webkit-animation-delay:3.5s;-moz-animation-delay:3.5s;animation-delay:3.5s;}
.animate.delay-4000 {-webkit-animation-delay:4s;-moz-animation-delay:4s;animation-delay:4s;}
.animate.delay-4500 {-webkit-animation-delay:4.5s;-moz-animation-delay:4.5s;animation-delay:4.5s;}
.animate.delay-5000 {-webkit-animation-delay:5s;-moz-animation-delay:5s;animation-delay:5s;}

/*EASING*/
.animate.ease-linear {animation-timing-function:linear;}
.animate.ease,.animate.ease-out {animation-timing-function:ease;}
.animate.ease-in {animation-timing-function:ease-in;}
.animate.ease-in-out {animation-timing-function:ease-in-out;}
.animate.ease-bezier {animation-timing-function:cubic-bezier(0.75, 0, 0.25, 1);}
.animate.ease-quad,.animate.ease-quad-out {animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.animate.ease-quad-in {animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);}
.animate.ease-quad-in-out {animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.animate.ease-quart,.animate.ease-quart-out {animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);}
.animate.ease-quart-in {animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);}
.animate.ease-quart-in-out {animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);}
.animate.ease-expo,.animate.ease-expo-out {animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);}
.animate.ease-expo-in {animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035);}
.animate.ease-expo-in-out {animation-timing-function:cubic-bezier(1, 0, 0, 1);}
.animate.ease-back,.animate.ease-back-out {animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);}
.animate.ease-back-in {animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);}
.animate.ease-back-in-out {animation-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.preload * {animation-play-state: paused !important;-webkit-transition: none !important;-moz-transition: none !important;-ms-transition: none !important;-o-transition: none !important;}

/*ANIMATIONS*/
@-webkit-keyframes fadeIn { from { opacity:0;}} to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1;}}

@-webkit-keyframes fadeOut { from { opacity:1; visibility: visible;} to { opacity:0;visibility: hidden;} }
@-moz-keyframes fadeOut { from { opacity:1; visibility: visible;} to { opacity:0; visibility: hidden;} }
@keyframes fadeOut { from { opacity:1; visibility: visible;} to { opacity:0;visibility: hidden;}}

@keyframes moveTop {from{-webkit-transform: translateY(-25px);transform: translateY(-25px);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideTop {from{-webkit-transform: translateY(-25px);transform: translateY(-25px);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-moz-keyframes slideTop {from{-webkit-transform: translateY(-25px);transform: translateY(-25px);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}

@keyframes moveLeft {from{ -webkit-transform: translateX(-25px);transform: translateX(-25px);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}
@-webkit-keyframes slideLeft {from{ -webkit-transform: translateX(-25px);transform: translateX(-25px);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}
@-moz-keyframes slideLeft{from{ -webkit-transform: translateX(-25px);transform: translateX(-25px);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}

@keyframes moveRight {from{-webkit-transform: translateX(25px);transform: translateX(25px);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}
@-webkit-keyframes slideRight {from{-webkit-transform: translateX(25px);transform: translateX(25px);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}
@-moz-keyframes slideRight {from{-webkit-transform: translateX(25px);transform: translateX(25px);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}

@keyframes moveBottom {from{-webkit-transform: translateY(25px);transform: translateY(25px);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-webkit-keyframes moveBottom {from{-webkit-transform: translateY(25px);transform: translateY(25px);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-moz-keyframes moveBottom {from{-webkit-transform: translateY(25px);transform: translateY(25px);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}

@keyframes moveTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(-25px);transform: translateY(-25px);opacity:0;visibility: hidden;}}
@-webkit-keyframes moveTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(-25px);transform: translateY(-25px);opacity:0;visibility: hidden;}}
@-moz-keyframes moveTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(-25px);transform: translateY(-25px);opacity:0;visibility: hidden;}}

@keyframes moveLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(-25px);transform: translateX(-25px);opacity:0;visibility: hidden;}}
@-webkit-keyframes moveLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(-25px);transform: translateX(-25px);opacity:0;visibility: hidden;}}
@-moz-keyframes moveLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(-25px);transform: translateX(-25px);opacity:0;visibility: hidden;}}

@keyframes moveRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(25px);transform: translateX(25px);opacity:0;visibility: hidden;}}
@-webkit-keyframes moveRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(25px);transform: translateX(25px);opacity:0;visibility: hidden;}}
@-moz-keyframes moveRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(25px);transform: translateX(25px);opacity:0;visibility: hidden;}}

@keyframes moveBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(25px);transform: translateY(25px);opacity:0;visibility: hidden;}}
@-webkit-keyframes moveBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(25px);transform: translateY(25px);opacity:0;visibility: hidden;}}
@-moz-keyframes moveBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(25px);transform: translateY(25px);opacity:0;visibility: hidden;}}

@keyframes slideTop {from{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideTop {from{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-moz-keyframes slideTop {from{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}

@keyframes slideLeft {from{ -webkit-transform: translateX(-100%);transform: translateX(-100%);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}
@-webkit-keyframes slideLeft {from{ -webkit-transform: translateX(-100%);transform: translateX(-100%);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}
@-moz-keyframes slideLeft{from{ -webkit-transform: translateX(-100%);transform: translateX(-100%);opacity:0;} to{translateX(0%);transform: translateX(0%);opacity:1;}}

@keyframes slideRight {from{-webkit-transform: translateX(100%);transform: translateX(100%);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}
@-webkit-keyframes slideRight {from{-webkit-transform: translateX(100%);transform: translateX(100%);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}
@-moz-keyframes slideRight {from{-webkit-transform: translateX(100%);transform: translateX(100%);opacity:0;} to{translateX(0%);transform: translateX(0%);;opacity:1;}}

@keyframes slideBottom {from{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-webkit-keyframes slideBottom {from{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}
@-moz-keyframes slideBottom {from{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;} to{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;}}

@keyframes slideTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;visibility: hidden;}}
@-webkit-keyframes slideTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;visibility: hidden;}}
@-moz-keyframes slideTopOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(-100%);transform: translateY(-100%);opacity:0;visibility: hidden;}}

@keyframes slideLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(-100%);transform: translateX(-100%);opacity:0;visibility: hidden;}}
@-webkit-keyframes slideLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(-100%);transform: translateX(-100%);opacity:0;visibility: hidden;}}
@-moz-keyframes slideLeftOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(-100%);transform: translateX(-100%);opacity:0;visibility: hidden;}}

@keyframes slideRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(100%);transform: translateX(100%);opacity:0;visibility: hidden;}}
@-webkit-keyframes slideRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(100%);transform: translateX(100%);opacity:0;visibility: hidden;}}
@-moz-keyframes slideRightOut {from{ -webkit-transform: translateX(0%);transform: translateX(0%);opacity:1;visibility: visible;} to{translateX(100%);transform: translateX(100%);opacity:0;visibility: hidden;}}

@keyframes slideBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;visibility: hidden;}}
@-webkit-keyframes slideBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;visibility: hidden;}}
@-moz-keyframes slideBottomOut {from{-webkit-transform: translateY(0%);transform: translateY(0%);opacity:1;visibility: visible;} to{-webkit-transform: translateY(100%);transform: translateY(100%);opacity:0;visibility: hidden;}}

@keyframes scale {from{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-webkit-keyframes scale {from{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-moz-keyframes scale {from{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}

@keyframes scaleOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;}}
@-webkit-keyframes scaleOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;}}
@-moz-keyframes scaleOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;} to{-webkit-transform:scale(1.5);transform: scale(1.5);opacity:0;}}

@keyframes scaleBig {from{-webkit-transform:scale(3);transform: scale(3);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-webkit-keyframes scaleBig {from{-webkit-transform:scale(3);transform: scale(3);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-moz-keyframes scaleBig {from{-webkit-transform:scale(3);transform: scale(3);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}

@keyframes scaleBigOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(3);transform: scale(3);opacity:0;visibility: hidden;}}
@-webkit-keyframes scaleBigOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(3);transform: scale(3);opacity:0;visibility: hidden;}}
@-moz-keyframes scaleBigOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(3);transform: scale(3);opacity:0;visibility: hidden;}}

@keyframes scaleSmall {from{-webkit-transform:scale(1.05);transform: scale(1.05);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-webkit-keyframes scaleSmall {from{-webkit-transform:scale(1.05);transform: scale(1.05);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-moz-keyframes scaleSmall {from{-webkit-transform:scale(1.05);transform: scale(1.05);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}

@keyframes scaleSmallOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(1.05);transform: scale(1.05);opacity:0;visibility: hidden;}}
@-webkit-keyframes scaleSmallOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(1.05);transform: scale(1.05);opacity:0;visibility: hidden;}}
@-moz-keyframes scaleSmallOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(1.05);transform: scale(1.05);opacity:0;visibility: hidden;}}

@keyframes grow {from{-webkit-transform:scale(.7);transform: scale(.7);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-webkit-keyframes grow {from{-webkit-transform:scale(.7);transform: scale(.7);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}
@-moz-keyframes grow {from{-webkit-transform:scale(.7);transform: scale(.7);opacity:0;} to{-webkit-transform:scale(1);transform: scale(1);opacity:1;}}

@keyframes growOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(.7);transform: scale(.7);opacity:0;visibility: hidden;}}
@-webkit-keyframes growOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(.7);transform: scale(.7);opacity:0;visibility: hidden;}}
@-moz-keyframes growOut {from{-webkit-transform:scale(1);transform: scale(1);opacity:1;visibility: visible;} to{-webkit-transform:scale(.7);transform: scale(.7);opacity:0;visibility: hidden;}}

@keyframes bulge {0% {opacity:0;-webkit-transform:scale(0.9);transform:scale(0.9);} 50% {-webkit-transform:scale(1.02);transform:scale(1.02);} to {opacity:1;-webkit-transform:scale(1);transform:scale(1);}}
@-webkit-keyframes "bulge" {0%{opacity:0;-webkit-transform:scale(0.9);transform:scale(0.9);}50%{-webkit-transform:scale(1.02);transform:scale(1.02);}to{opacity:1;-webkit-transform:scale(1);transform:scale(1);}}
@-moz-keyframes "bulge" {0%{opacity:0;-webkit-transform:scale(0.9);transform:scale(0.9);}50%{-webkit-transform:scale(1.02);transform:scale(1.02);}to{opacity:1;-webkit-transform:scale(1);transform:scale(1);}}

@keyframes bulgeOut {0%{opacity:0;-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.02);transform:scale(1.02);}to{opacity:1;-webkit-transform:scale(.9);transform:scale(.9);}}
@-webkit-keyframes bulgeOut {0%{opacity:0;-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.02);transform:scale(1.02);}to{opacity:1;-webkit-transform:scale(.9);transform:scale(.9);}}
@-moz-keyframes bulgeOut {0%{opacity:0;-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(1.02);transform:scale(1.02);}to{opacity:1;-webkit-transform:scale(.9);transform:scale(.9);}}

@keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}
@-webkit-keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}
@-moz-keyframes pulse {0% {opacity: 0.5;} 50% {opacity: 1.0;} 100% {opacity: 0.5;}}

@keyframes rotate {from {transform:rotate(0deg);} to {transform:rotate(360deg);}}
@-webkit-keyframes rotate {from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate {from { -moz-transform: rotate(0deg); }to { -moz-transform: rotate(360deg); }}

@keyframes fadeOutHide {
    0% {opacity:1; visibility: visible;height:auto;}
	99% {opacity:0; visibility: hidden;height:auto;}
    100% {opacity:0; visibility: hidden;height:0;}
}
@-webkit-keyframes fadeOutHide {
    0% {opacity:1; visibility: visible;height:auto;}
	99% {opacity:0; visibility: hidden;height:auto;}
    100% {opacity:0; visibility: hidden;height:0;}
}
@-moz-keyframes fadeOutHide {
    0% {opacity:1; visibility: visible;height:auto;}
	99% {opacity:0; visibility: hidden;height:auto;}
    100% {opacity:0; visibility: hidden;height:0;}
}
@keyframes "shake" {
    0% {-webkit-transform: translateX(0);transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@-webkit-keyframes "shake" {
    0% {-webkit-transform: translateX(0);transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@-moz-keyframes "shake" {
    0% {-webkit-transform: translateX(0);transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
    37.5% {-webkit-transform: translateX(5px);transform: translateX(5px);}
    62.5% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
	87.5% {-webkit-transform: translateX(2px);transform: translateX(2px);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
